.table th.text-right, .table td.text-right {
    text-align: right;
}
.fc-widget-header{
    background-color: darkgray;
}
#calendar {
    background-color: lightgray;
}
#map_canvas {
    height: 500px;
    width: 100%;
    border: 3px solid black;
}