.fc-widget-header{
    background-color: darkgray;
}
#calendar {
    max-width: 95%;
    margin: 50px auto;
    background-color: lightgray;
}
#map_canvas {
    height: 500px;
    width: 100%;
    border: 3px solid black;
}
#trainingManagerDiv {
    border: 3px;
    position: relative;
    width: 100%;
}
#calendarWrapperDiv {
    border: 3px;
    position: absolute;
    margin-right: 25px;
    left: 5px;
    top: 5px;
    bottom: 5px;
    right: 60%;
}
#calendarWrapperDivEmpty {
    margin:0 auto;
    width: 60%;
    border: 3px;
    left: 5px;
    top: 5px;
    bottom: 5px;
}
#emptyTitleDiv{
    text-align: center;
    background-color: darkgray;
    border: 3px solid black;
    border-radius: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#trainingDetailDiv{
    border: 3px;
    position: absolute;
    margin-left: 25px;
    right: 5px;
    top: 5px;
    bottom: 5px;
    left: 40%;
}
#trainingNameDiv{
    text-align: center;
    background-color: darkgray;
    border: 3px solid black;
    border-radius: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#trainingDetailsDiv{
    background-color: lightgray;
    border-radius: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 4%;
}
.flexCentered{
    display:flex;
    justify-content:center;
    align-items:center;
}