.center-div {
    margin: 0 auto;
}
.title-div{
    text-align: center;
    background-color: darkgray;
    border: 3px solid black;
    border-radius: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.margin-div{
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#eventListDiv{
    width: 70%;
}
#map_canvas {
    height: 500px;
    width: 100%;
    border: 3px solid black;
}
#liveEventDiv{
    border: 3px;
    position: relative;
    width: 100%;
}
#eventDetailDiv{
    border: 3px;
    position: absolute;
    margin-left: 25px;
    right: 5px;
    top: 5px;
    bottom: 5px;
    left: 40%;
}
#listWrapperDiv {
    border: 3px;
    position: absolute;
    margin-right: 25px;
    left: 5px;
    top: 5px;
    bottom: 5px;
    right: 60%;
}
#eventDescriptionDiv{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: lightgray;
    border-radius: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 4%;
}