#sensorTable{
    margin-left: 10px;
}
div.props{
    background-color: lightgray;
    border-radius: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 4%;
}
