#map_canvas {
    height: 500px;
    width: 100%;
    border: 3px solid black;
}
#RouteContentDiv {
    border: 3px;
    position: relative;
    width: 100%;
}
#routeListDiv {
    border: 3px;
    position: absolute;
    margin-right: 25px;
    left: 5px;
    top: 5px;
    bottom: 5px;
    right: 60%;
}
#routeListDivEmpty {
    border: 3px;
    margin-right: 25px;
    left: 5px;
    top: 5px;
    bottom: 5px;
}
#routeSelectedDiv{
    border: 3px;
    position: absolute;
    margin-left: 25px;
    right: 5px;
    top: 5px;
    bottom: 5px;
    left: 40%;
}
#routeNameDiv{
    text-align: center;
    background-color: darkgray;
    border: 3px solid black;
    border-radius: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#routeDescriptionDiv{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: lightgray;
    border-radius: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 4%;
}
.flexCentered{
    display:flex;
    justify-content:center;
    align-items:center;
}
.fillCell{
    width: 100%;
}