#map_canvas {
    height: 500px;
    width: 100%;
}
#RouteContentDiv {
    border: 3px;
    position: relative;
    width: 100%;
}
#routeListDiv {
    border: 3px;
    position: absolute;
    margin-right: 25px;
    left: 5px;
    top: 5px;
    bottom: 5px;
    right: 60%;
}
#routeMapDiv{
    border: 3px;
    position: absolute;
    margin-left: 25px;
    right: 5px;
    top: 5px;
    bottom: 5px;
    left: 40%;
}
#routeDescriptionDiv{
    background-color: darkgray;
}